.container {
  width: 40%;
  margin-top: 50px;
  background-color: #2b2d42; 
  border: none;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #f8f9fa; 
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 35px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  width: 100%;
}

button {
  margin-left: 10px;
  background-color: #d4af37; 
  color: white;
  border-radius: 8px;
  padding: 10px;
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #b48b2c; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.list {
  margin-top: 20px;
  padding: 10px;
}

li {
  margin-bottom: 15px;
  background-color: #3a3f58; 
  color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}

li:hover {
  background-color: #31354b; 
  transform: scale(1.02);
}

.list-items .list-item-list {
  flex: 1;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.list-items .list-item-icons {
  padding-left: 10px;
  font-size: 28px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.list-items .list-item-icons:hover {
  transform: scale(1.2);
}

#complete {
  color: #28a745; 
}

#edit {
  color: #007bff;
}

#delete {
  color: #ff6347; 
}

#list-item {
  text-decoration: line-through;
  opacity: 0.5;
  color: #9ca3af; 
}

input[type='text'] {
  width: 75%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6c757d; 
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.3s ease;
}

input[type='text']:focus {
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
  outline: none;
}
ul{
  padding-left: 0px;
}